* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

/* Header and Banner Section*/
.header-and-banner {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

}
.header-container {
  background-color: #292B57;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 10%;
  
}

.page-title {
  color: #292B57;
}

.page-title h1 {
  background-color: #A7C5C5;
}

#nav-items {
  list-style-type: none;
  padding-right: 40px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
#nav-items li {
  margin: 5px;
}

#nav-items li a {
  color: aliceblue;
  font-size: 18px;
  text-decoration: underline;
}

.hero-banner {
 background-image: url(../images/02-hero-bg.jpg);
 background-position: center;
 display: flex;
 flex-wrap: wrap;
 justify-content: flex-end;
 height: 150px;
 align-items: end;
}

.hero-banner div h2 {
  font-size: 18px;
  color: #292B57;
  background-color: #A7C5C5;
  margin-right: 40px;
  
}

/*page wrapper*/
.page-wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 1000px;
  color: aliceblue;
}

/* Work Section*/
#work {
  display: grid;
  grid-template-columns: 25% 75%;
  
}
.work-section{
  color: black;
  height: 500px;
  display: grid;
  margin: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 1fr 1fr;
  grid-template-areas: 
  "card-1 card-1"
  "card-2 card-3"
  "card-4 card-5"
  ;
}
.card-1 {
  grid-area: card-1 ;
  background-image: url(../images/02-portfolio-1.jpg);
  background-position: center;
  border-style: solid;
  border-color: #3151A3;
  margin: 2px;
}
.card-2 {
  grid-area: card-2 ;
  background-image: url(../images/02-portfolio-2.jpg);
  background-position: center;
  border-style: solid;
  border-color: #3151A3;
  margin: 2px;
}
.card-3 {
  grid-area: card-3;
  background-image: url(../images/02-portfolio-3.jpg);
  background-position: center;
  border-style: solid;
  border-color: #3151A3;
  margin: 2px;
}
.card-4 {
  grid-area: card-4;
  background-image: url(../images/02-portfolio-4.jpg);
  background-position: center;
  border-style: solid;
  border-color: #3151A3;
  margin: 2px;
}
.card-5 {
  grid-area: card-5 ;
  background-image: url(../images/02-run-buddy.jpg);
  background-position: center;
  border-style: solid;
  border-color: #3151A3;
  margin: 2px;
}

h3,
h3 a {
  color: #292B57;
  background-color:#A7C5C5;
}



/* About Me Section */
#about {
  display: flex;
  flex-direction: row; 
  justify-content: center;
  
}
.about-text {
  
  color: black;
  margin: 50px ;
  padding-inline-start: 50px;

}





/* Contact Section*/

#contact {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  
}

.title-card {
  font-size: 30px;
  word-wrap: break-word;
  color: #3151A3;
  padding-right: 10px black;
  
  
}

ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  
}

.contact-me ul li,
.contact-me ul li a {
  padding: 30px;
  color: black;
  text-decoration: underline;
}
