* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}


.header-and-banner {
  display: flex;
  flex-direction: column;

}
.header-container {
  background-color: #292B57;
  display: flex;
  justify-content: space-between;
  height: 10%;
  
}

.page-title {
  color: #292B57;
}

.page-title h1 {
  background-color: #A7C5C5;
}

#nav-items {
  list-style-type: none;
  padding-right: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#nav-items li {
  margin: 5px;
}

#nav-items li a {
  color: aliceblue;
  font-size: 18px;
  text-decoration: underline;
}

.hero-banner {
 background-image: url(../images/02-hero-bg.jpg);
 background-position: center;
 display: flex;
 justify-content: flex-end;
 height: 150px;
 align-items: end;
}

.hero-banner div h2 {
  font-size: 18px;
  color: #292B57;
  background-color: #A7C5C5;
  margin-right: 40px;
  
}

